body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main {
  text-align: center;
  margin: 5rem auto;
  max-width: 1024px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 50%;
  margin: 2rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.form label {
  font-size: 1.2rem;
  margin: 1rem auto;
}

.text-input {
  width: 60%;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

button {
  margin-top: 2rem;;
  background-color: purple;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  font-size: 1.2rem;
  color: white;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
}

button:hover, button:active {
  background-color: rgb(129, 64, 129);
}

.list-container {
  margin: 2rem auto;
  max-width: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin: 2rem 3rem;
}

.list-item-details {
  text-align: left;
  width: 60%
}